<div>
    Search: <input type="text" #query (keyup)="search(query.value)" />
</div>

<div>
    Floors:
    <select #item (change)="onFloorChange(item.value)">
        <option *ngFor="#floor of floors" [value]="floor.Number">
            {{floor.Number}}
        </option>
    </select>
</div>

<div>
    <img src="{{backgroundImg}}" />
</div>

<div class="people">
    <div *ngFor="#employee of employees" class="employee-container" style="top: {{employee.Location.Y}}; left: {{employee.Location.X}}">
        <div class="employee" style="background-image: url({{employee.Photo}})" (click)="onFaceClick(employee)"></div>
        <div class="info {{employee.Opened ? 'opened' : ''}}">
            <p><a class="close-btn" (click)="closeEmployeeCard(employee)">x</a></p>
            <p><span><img src="{{employee.Photo}}" class="employee-photo" /></span></p>
            <p><span class="name">{{employee.Name}}</span></p>
            <p><span class="role">{{employee.Role}}</span></p>
            <p><span class="email">{{employee.Email}}</span></p>
            <p *ngFor="#social of employee.Socials">
                <span>{{social.Name}}: {{social.Link}}</span>
            </p>
        </div>
    </div>
</div>